@import "tailwindcss";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.fontLato {
    font-family: "Lato", sans-serif;
}

.logoParent input {
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    padding: 8px 12px;
    outline: none;
    width: 345px;
    height: 36px;
}
.btn{
    border-left: 1px solid #E9E9E9;
}
button{
    cursor: pointer;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.shopbtn{
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    padding: 12px 24px;
}
input{
    outline: none;
}
.link{
    text-decoration: underline;
    color: blue;
}